* {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #cffafe;
  text-shadow: 0px 2px 3px #0f172a;
}

/* Start */
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #06b6d4;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#starttitle {
  font-size: 3.3em;
  color: yellow;
}

.start-content {
  display: flex;
  border: 10px solid #155e75;
  background-color: #196f87;
  width: 25em;
  height: auto;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
}

.start-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  padding: 20px;
}
.start-content input {
  border: none;
  background-color: none;
  border-bottom: 2px solid #0f172a;
  padding: 10px;
  border-radius: 20px;
  text-shadow: none;
  color: #155e75;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}

.start-content button {
  padding: 10px;
  border-radius: 40px;
  font-size: 1.5em;
  background-color: #155e75;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
}

.start-content button:hover {
  cursor: pointer;
  background-color: #2e7f98;
}

/* Main Container */
.container {
  display: none;
  grid-template-rows: 0.5fr 7fr 0.5fr;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #0c4a6e;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-shadow: 0px 5px 5px #0f172a;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c4a6e;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 3px 10px;
}
.footerText a {
  text-decoration: none;
  color: #42d924;
  font-weight: 600;
}

/* Game Container */

.gamecontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0e7490;
}

.maingame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.game {
  background-color: #155e75;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: 25em;
  min-height: 25em;
}

.tile {
  display: flex;
  justify-content: center;
  font-size: 6em;
  background-color: #ccfbf1;
  border: 5px solid #164e63;
  color: #164e63;
}

.tile:hover {
  background-color: #9ad7ca;
}
.gameinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.playerName {
  color: #a3e635;
}
.playerNum {
  color: #bef264;
}

.playerScore {
  color: #fca5a5;
}

#turnText {
  color: #a3e635;
}

#resetButton {
  text-shadow: none;
  border: none;
  background-color: #164e63;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #0f172a;
}

#resetButton:hover {
  cursor: pointer;
  background-color: #397084;
}

#turnText {
  font-size: 1.5em;
  font-weight: bold;
}
/* Players */

.player1,
.player2 {
  height: 25em;
  width: 25em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
}
.playerNum,
.playerName {
  text-align: center;
}

.playerName {
  font-size: 4em;
}
